# Virtual environment
venv/
.venv/
venv/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints
src/Task_B/*.ipynb
src/Task_B/TaskB_RFQ_Similarity.ipynb
src/taskb/*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo


